//- @file app

	@description Apps/Modules Design

	@author Jeevan Prakash Pant <jp@edtyro.com>
	@version 1.0.0
	@copyright Edtyro Private Limited, 2020

extends ../../layouts/default

include ../../components/v1/form/form

//- imports

include ../../components/v1/common/application

block styles
	link(rel='stylesheet', href=baseUrl+'css/status-message.min.css')
	link(rel='stylesheet', href=baseUrl+'css/forms.min.css')
	link(rel='stylesheet', href=baseUrl+'css/tabs.min.css')

block content

	- linkUrl = mainUrl + 'procurement-items'

	+headbar({
		type : 'basic',
		containerClass : 'container',
		app : {
			name : 'Edit Procurement Item',
			src : mediaUrl + 'img/modules/procurementItems.png'
		},
		buttons : [
		{
			background:'bg-btn-et-black',
			href: linkUrl,
			title: 'Back',
			icon: 'et et_back',
			permission: "none"
		}]
	})

	.container
		.row
			.col-md-12
				.status-message-top
					//- production
					+status-message()

	.container
		.tabs
			#tabs.et-tabs
				ul.et-tabs-tab-group(role='tablist')
					li.et-tabs-tab-item(role='presentation')
						a.et-tabs-tab(role='tab', href='#basic-details+')
							i.et.et_details
							|	Basic Details
					li.et-tabs-tab-item(role='presentation')
						a.et-tabs-tab(role='tab', href='#specifications+')
							i.et.et_details
							|	Specifications
				.et-tabs-panel-group

					//- section for basic details -//

					form#basic-details-form(method="post", action="", enctype="multipart/form-data")
						#basic-details.et-tabs-panel(role='tabpanel')
							include ./forms/basic-details

					//- section for specifications -//

					//- Repetition Structures
					#specify(style="display:none")
						.form-wrapper
							span
								a.segment-cross()
									i.et.et_times
							.form-row
								.col-half
									h4 Label
									+inputText({
										name: 'label',
										placeholder: 'Label',
										icon: 'et et_write'
									})
								.col-half
									h4 Specification Detail
									+inputText({
										name: 'specificationDetail',
										placeholder: 'Specification Detail',
										icon: 'et et_details'
									})
					//- form starts here
					form#specifications-form(method="post", action="")
						#specifications.et-tabs-panel(role='tabpanel')
							include ./forms/specifications
block scripts
	script(type='text/javascript', src=baseUrl+'js/status-message.min.js')
	script(type='text/javascript', src=baseUrl+'js/tabs.min.js')
	script.
		$("#tabs").tabs({
			equalHeights: true,
			animation: "fade-scale",
			autoplay: false,
			responsive: {
				breakpoint: 800,
				headingTagName: "h4"
			}
		});
	script(type='text/javascript', src=baseUrl+'vendors/ckeditor/ckeditor.js')
	script.
		CKEDITOR.replace( 'description' );
	script(type='text/javascript', src=baseUrl+'js/form-replicate-form.js')
	script(type='text/javascript', src=baseUrl+'js/form-add-entry.min.js')
	script(type='text/javascript', src=baseUrl+'js/form-remove-replicate-form.min.js')