//- @file app

    @description Apps/Modules Design

    @author Jeevan Prakash Pant <jp@edtyro.com>
    @version 1.0.0
    @copyright Edtyro Private Limited, 2020

extends ../layouts/default

include ../components/v1/form/form

//- imports

include ../components/v1/common/application

block styles
    link(rel='stylesheet', href=baseUrl+'css/status-message.min.css')
    link(rel='stylesheet', href=baseUrl+'css/forms.min.css')
    link(rel='stylesheet', href=baseUrl+'css/modal.min.css')
    link(rel='stylesheet', href=baseUrl+'css/table.min.css')
    link(rel='stylesheet', href=baseUrl+'vendors/datetimepicker/jquery.datetimepicker.css')


block content

    - linkUrl = mainUrl+'procurementContractProcesses/'

    +headbar({
        type : 'basic',
        containerClass : 'container',
        app : {
            name : 'procurementContractProcesses',
            src : mediaUrl+'img/modules/procurementContractProcesses.png'
        },
        buttons : [
        {
            type: 'button',
            background:'bg-btn-et-blue',
            id: 'openModalSearch',
            action:'openModalSearch',
            title: 'Search',
            icon: 'fas fa-search',
            permission: "none"
        },
        {
            type: 'button',
            background:'bg-btn-et-yellow',
            id: 'openModalFilter',
            action:'openModalFilter',
            title: 'Filters',
            icon: 'fas fa-filter',
            permission: "none"
        },
        {
            background:'bg-btn-et-yellow',
            href:'#',
            title: 'Print',
            icon: 'fas fa-print',
            permission: "none"
        },
        {
            type:'link',
            background:'bg-btn-et-green',
            href: linkUrl+'add/',
            title: 'Add',
            icon: 'fas fa-plus',
            permission: ["procurementContractProcesses:add"]
        },
        {
            background:'bg-btn-et-black',
            href: mainUrl,
            title: 'Back',
            icon: 'fas fa-chevron-circle-left',
            permission: "none"
        }]
    })

    #modalSearchContainer.modal-container
    #modalSearch.modal
        .modal-header-custom
            +headbar({
                containerClass : 'container',
                app : {
                    name : 'procurementContractProcesses',
                    src : mediaUrl+'img/modules/procurementContractProcesses.png'
                },
                buttons : [
                    {
                        type:'link',
                        background:'bg-btn-et-green',
                        href:'#',
                        title: 'Save',
                        icon: 'fas fa-save',
                        permission: 'none'
                    },
                    {
                        type:'link',
                        background:'bg-btn-et-blue',
                        href:'#',
                        title: 'Search',
                        icon: 'fas fa-search',
                        permission: 'none'
                    },
                    {
                        type:'link',
                        background:'bg-btn-et-green',
                        href:'#',
                        title: 'Add Filter',
                        icon: 'fas fa-plus',
                        permission: 'none'
                    },
                    {
                        type:'link',
                        background:'bg-btn-et-skyBlue',
                        href:'#',
                        title: 'Remove Last Search',
                        icon: 'fas fa-minus',
                        permission: 'none'
                    },
                    {
                        type:'link',
                        background:'bg-btn-et-black',
                        href:linkUrl,
                        title: 'Back',
                        icon: 'fas fa-chevron-circle-left',
                        permission: 'none'
                    }]
                })
        .modal-content
            .container-fluid
                .row
                    .col-md-12
                        form
                            .form-row
                                br
                                .col-full
                                    .input-group
                                        input(type='text', name='search', placeholder='Search Here...')
                            .form-row
                                .col-half
                                    select(name='item')
                                        option(value='leads')  Leads
                                        option(value='today')  Source
                                        option(value='month')  This Month
                                .col-half
                                    select(name='graph')
                                        option(value='source')  Pie
                                        option(value='today')  Bar
    #modalFilterContainer.modal-container
    #modalFilter.modal
        .modal-header-custom
            +headbar({
                containerClass : 'container',
                app : {
                    name : 'procurementContractProcesses',
                    src : mediaUrl+'img/modules/procurementContractProcesses.png'
                },
                buttons : [
                    {
                        type:'link',
                        background:'bg-btn-et-green',
                        href:'#',
                        title: 'Save',
                        icon: 'fas fa-save',
                        permission: 'none'
                    },
                    {
                        type:'link',
                        background:'bg-btn-et-blue',
                        href:'#',
                        title: 'Search',
                        icon: 'fas fa-search',
                        permission: 'none'
                    },
                    {
                        type:'link',
                        background:'bg-btn-et-green',
                        href:'#',
                        title: 'Add Filtter',
                        icon: 'fas fa-plus',
                        permission: 'none'
                    },
                    {
                        type:'link',
                        background:'bg-btn-et-skyBlue',
                        href:'#',
                        title: 'Remove Last Search',
                        icon: 'fas fa-minus',
                        permission: 'none'
                    },
                    {
                        type:'link',
                        background:'bg-btn-et-black',
                        href:linkUrl,
                        title: 'Back',
                        icon: 'fas fa-chevron-circle-left',
                        permission: 'none'
                    }]
                })
        .modal-content
            .container-fluid
                .row
                    .col-md-12
                        form
                            .form-row
                                br
                                .col-full
                                    .input-group
                                        input(type='text', name='search', placeholder='Search Here...')
                            .form-row
                                .col-half
                                    select(name='item')
                                        option(value='leads')  Leads
                                        option(value='today')  Source
                                        option(value='month')  This Month
                                .col-half
                                    select(name='graph')
                                        option(value='source')  Pie
                                        option(value='today')  Bar
    .container
        .row
            .col-md-12
                .status-message.status-message-top
                    div.status-message-wrapper.bg-btn-et-green
                        p Successfully Saved
                        span
                            a.status-close
                                i.fas.fa-times

    .container
        .tablehead
        .row
            .col-md-4
                .form-control
                    label(for='search')
                        i.fa.fa-search
                    input.table-filter(type='search', data-table='advanced-web-table', placeholder='Micro Search...')
            .col-md-8
                .tablehead-buttons
                    ul
                        li
                            a.et-btn-tablehead.bg-btn-et-green(href='#', title='Apply and Reload Table')
                                i APPLY
                        li
                            a.et-btn-tablehead.bg-btn-et-yellow(href='#', title='Reset Table')
                                i RESET
                        li
                            a#big.et-btn-tablehead.bg-btn-et-green(href='#', title='Increase Font Size')
                                i.fas.fa-font +
                        li
                            a#normal.et-btn-tablehead.bg-btn-et-blue(href='#', title='Normal Font Size')
                                i.fas.fa-font
                        li
                            a#small.et-btn-tablehead.bg-btn-et-yellow(href='#', title='Decrease Font Size')
                                i.fas.fa-font - 
                        li
                            a.et-btn-tablehead.bg-btn-et-blue(href='', title='Unpublish Selected')
                                i.fas.fa-shield-alt
                        li
                            a.et-btn-tablehead.bg-btn-et-red(href='', title='Delete Selected')
                                i.fas.fa-trash-alt
        //- Table  initiates
        .et-table
            .table-responsive
                table#ordering-table.advanced-web-table
                    thead
                        tr
                            th
                                section(class="checkbox-wrapper")
                                    .checkbox-custom
                                        input#checkbox-input-all(type='checkbox', value='None', name='check')
                                        label(for='checkbox-input-all')
                            th Article Title
                            th Category
                            th Author
                            th Published By
                            th Published On
                            th Slug
                            th Status
                            th Options
                            th Quick Notes
                    tbody
                        tr
                            td
                                section(class="checkbox-wrapper")
                                    .checkbox-custom
                                        input#checkbox-input-one(type='checkbox', value='None', name='check')
                                        label(for='checkbox-input-one')
                            td Bla Bla
                            td Interview
                            td Bla Bla
                            td Interview
                            td Bla Bla
                            td Bla Bla
                            td
                                span.et-table-status.bg-et-green Published
                            td
                                .et-table-options
                                    ul
                                        if ["procurementContractProcesses:view"]
                                            li
                                                a.et-table-option.bg-btn-et-green(href=linkUrl+'view/', title="View")
                                                    i.fas.fa-eye
                                        if ["procurementContractProcesses:edit"]
                                            li
                                                a.et-table-option.bg-btn-et-yellow(href=linkUrl+'edit/', title='Edit')
                                                    i.fas.fa-edit
                                        if ["procurementContractProcesses:delete"]
                                            //- if ["procurementContractProcesses:purge"]
                                            li
                                                a.et-table-option.bg-btn-et-red(href=linkUrl+'delete/', title='Delete')
                                                    i.fas.fa-trash-alt
                            td(contenteditable='') High Priority
        //- Table terminates

        //- Pagination initiates
        .pagination-container
            ul.pagination.pagination-modal
                li
                    a.prev(href='#') Previous
                li
                    a(href='#') 1
                li
                    span ...
                li
                    a(href='#') 4
                li
                    a.active(href='#') 5
                li
                    a(href='#') 6
                li
                    span ...
                li
                    a(href='#') 9
                li
                    a.next(href='#') Next
        //- Pagination terminates

block scripts
    script(type='text/javascript', src=baseUrl+'js/status-message.min.js')
    script(type='text/javascript', src=baseUrl+'js/fontsize.min.js')
    script.
        $("#openModalSearch").click(function(){
            $("#modalSearchContainer").css("display","block");
            $("#modalSearch").css("display","block");
        });
        $(".cancelModalSearch").click(function(){
            $("#modalSearchContainer").fadeOut();
            $("#modalSearch").fadeOut();
        });
        $("#openModalFilter").click(function(){
            $("#modalFilterContainer").css("display","block");
            $("#modalFilter").css("display","block");
        });
        $(".cancelModalFilter").click(function(){
            $("#modalFilterContainer").fadeOut();
            $("#modalFilter").fadeOut();
        });